{
	"application_entry_point" : "/static/app.html",

	"django_secret_key" : "00000000000000000000000000000000000000000000000000",

	"db_engine" : "ddjango.db.backends.postgresql_psycopg2",
	"db_host" : "localhost",
	"db_name" : "sdmm",
	"db_user" : "sdmm",
	"db_password" : "password",

	"smtp_addr" : "",
	"smtp_port" : 666,
	"smtp_login" : "", 
	"smtp_password" : ""
}