/* --------------------------------------------------------------------------------- */
/* GOOGLE OPEN SANS */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src:
		local('Open Sans Light'), 
		local('OpenSans-Light'),
		url(/static/font/google-open-sans/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), 
		url(/static/font/google-open-sans/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: 
		local('Open Sans'), 
		local('OpenSans'), 
		url(/static/font/google-open-sans/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), 
		url(/static/font/google-open-sans/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local(
		'Open Sans Bold'), 
		local('OpenSans-Bold'), 
		url(/static/font/google-open-sans/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), 
		url(/static/font/google-open-sans/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/* --------------------------------------------------------------------------------- */
/* FISHER ROELAND LOGO */

@font-face {
	font-family: TrajanPro;
	src: url("/static/font/TrajanPro-regular.otf") format("opentype");
}

@font-face {
	font-family: TrajanPro;
	font-weight: bold;
	src: url("/static/font/TrajanPro-bold.otf") format("opentype");
}