<div
	id='PeopleFragment'
	ng-show='view == Views.PEOPLE'
	style='width:100%;'
	>

	<!-- HEADER -->
	<div style='width:100%; position: relative;'>

		<!-- section background image -->
		<div style='
		    z-index:1;
		    top:0;
		    left:0;
		    width:100%;'>

	    	<img style='
				width:100%;
				display:block;'

				ng-src="/static/image/header-about.jpg"/>
		</div>

		<!-- text overlay -->
    	<div
    		class='category-header-image-overlay-text light-grey unselectable'
    		style='z-index:2;'> <!-- margin-left:100px; -->

    			<div style='padding-left:100px;display:table;height:100%;'>
	    			<div style='vertical-align: middle;display: table-cell;height:100%;'>
		    			<span style='font-size:2em;'>
			    			<span style='text-transform:capitalize;'>
			    				People
		    				</span>
		    			</span>
		    			<br/>
		    			<span>
		    				The Team
		    			</span>
		    		</div>
	    		</div>
    	</div>
	</div>

	<div style='clear:both;'></div>

	<br/>

	<!-- WHY WE STARTED -->
	<div style='margin-left:100px;margin-right:100px;' class='drop-shadow'>
		<div style='display:table;width:100%;'>
			<div style='display:table-cell;width:200px;height:200px;' 
				class='vomit-green-background'>
				<img style='height:100%;width:100%;' src='/static/image/img-started.png'/>
			</div>
			<div 
				class='light-grey-background'
				style='display:table-cell;vertical-align:middle;padding-left:50px;padding-right:25px;'>
				<div style='font-size:2.5em;'>
					<span class='vomit-green'>The</span>
					<span class='grey-text'>Team</span>
				</div>
				<br/>
				<div>
					Fisher Roeland Attorneys &amp; Conveyancers was founded in 2013 as a joint venture between Jennifer Rose and Lisa  Roeland after identifying a need in the market to fuse a passion for property development with a passion for people.
				</div>
			</div>
		</div>
	</div>

	<br/>



	<!-- OUR TEAM -->
	<div class='light-grey-background' style=''>
		<br/>
		
		<!--
		<div style='margin-left:100px;'>
			<div style='font-size:2.5em;'>
				<span class='vomit-green'>Our</span>
				<span class='grey-text'>team</span>
			</div>
		</div>

		<br/>
		-->

		<div style='margin-left:100px;margin-right:100px;'>
			<div style='width:100%;display:table;'>
				<div style='width:100%;height:100%;
					
					display:table-cell;
					vertical-align:middle;'>
					<div style='width:70%;position:relative;float:right;
						background-color:white;padding:50px;
						'
						class='drop-shadow'
						>
						<div class='text200 vomit-green'>
							Lisa Fisher Roeland
						</div>
						<div class='text150'>
							BComm LLB (WITS)
						</div>
						<br/>
						<div>
							<span>A formidable force in the legal field, astute businesswoman and passionate pioneer by nature, Lisa brings a wealth of invaluable expertise on innumerable levels to the table. She has carved a niche for herself as a litigation and commercial attorney, conveyancer, member of the Law Society and the Estate Agents Affairs Board, with concurrent Fidelity Fund Certification.</span>
							<br/>
							<br/>
							<span>A progeny of Michael Snoyman, Lisa successfully took over his massive practice at a very young age after his untimely death. When it got sold in 2002, the Fisher Roeland legal practice was born - a bespoke firm that specialises in swift and personal service that goes the extra mile.</span>
							<br/>
							<br/>
							<span>Lisa Roeland has been the cornerstone of a practice that efficiently takes care of personal and commercial legal matters for more than a decade. The firm’s property transaction division has become a leader in its field, especially in the Sandton CBD area, facilitating the client journey, from falling in love with the property, advising on the legal aspects and ensuring seamless registration with the Deeds Office.</span>
						</div>
					</div>

<!-- 					<div style='position:relative;top:100px;left:100px;z-index:1;'>
						<image src='/static/image/robot.png'/>
					</div>  -->
				</div>
			</div>
		</div>

		<br/>

		<div style='margin-left:100px;margin-right:100px;'>
			<div style='width:100%;display:table;'>
				<div style='width:100%;height:100%;
					
					display:table-cell;
					vertical-align:middle;

					'>
					<div style='width:70%;position:relative;float:left;
						background-color:white;padding:50px;
						'
						class='drop-shadow'
						>
						<div class='text200 vomit-green'>
							Jennifer Rose
						</div>
						<br/>
						<div>
							<span>Jennifer Rose has done it all. Kilimanjaro - got the T-shirt to prove it. Skydiving, hiking, paragliding, caving, mountaineering, trekking, river rafting and abseiling - been there, done that and still loving it.</span><br/><br/>
							<span>This adventurous spirit that has led Jennifer to embark on a life path that is defined by passion, compassion and a pure and simple vision for a better future.</span><br/><br/>
							<span>Jennifer has worked in a myriad of fields, from advertising and sales &amp; marketing, to extreme sports and tailor-made leisure breakaways, continually establishing businesses that break the mould time and time again.</span><br/><br/>
							<span>Her passion, however, has always been people, leading her to pioneer the Africa Alzheimer’s Congress, brought the 2nd World Congress On Healthy Ageing to South Africa in July 2015 and is active in many other philanthropic endeavours.</span><br/><br/>
							<span>Jennifer’s adventures in life and business have equipped her with an invaluable ability to network  and connect people in meaningful ways, establishing her as a leader and innovator in the hospitality and leisure fields. Watch this space for the next adventure.</span><br/><br/>
							<span>Lisa and Jennifer’s friendship has been unbreakable since meeting by chance at the turn of the millennium, whilst swimming with the dolphins off the coast of Mozambique. It is this friendship that has subsequently and perhaps, unknowingly, become the foundation and driving force behind the personable, friendly and passionate nature of Fisher Roeland Attorneys &amp; Conveyancers.</span>
						</div>
					</div>

 					<div style='position:relative;top:50px;left:-30px;z-index:1;'>
						<image src='/static/image/img-jenny.jpg'/>
					</div>
 				</div>
			</div>
		</div>

		<br/>

		<div style='margin-left:100px;margin-right:100px;'>
			<div style='width:100%;display:table;'>
				<div style='width:100%;height:100%;
					
					display:table-cell;
					vertical-align:middle;

					'>
					<div style='width:70%;position:relative;float:right;
						background-color:white;padding:50px;
						'
						class='drop-shadow'
						>
						<div class='text200 vomit-green'>
							Ernst Kulhmann
						</div>
						<br/>
						<div>
							<span>With 18 years executive consulting experience, Ernst has been involved in every industry.  Clients and brands he has worked with include Investec, McCain Foods, STD Bank, FNB, Samsung and Growthpoint.  He started his career in retail and with extensive experience in hospitality and client service environments he understands the requirements for successful hospitality and retail developments.  He has been a director in multiple firms and headed up a few very successful consulting firms as well.  He has a passion for life, a wicked sense of humour and loves meeting new people and discovering new places.</span>
							<br/>
							<br/>
							<span>Ernst heads up the hospitality and retail divisions within Fisher Roeland Attorneys &amp; Conveyancers.</span>
						</div>
					</div>

 					<div style='position:relative;top:10px;left:20px;z-index:1;'>
						<image src='/static/image/img-ernst.jpg'/>
					</div>
				</div>
			</div>
		</div>

		<br/>

	</div>
</div>