<div
	id='xframe'
	ng-show='showView(Views.IFRAME)'
	style='width:100%;height:100%;'
	class='light-grey-background'
	>
	<div style='height:5%;'>&nbsp;</div>
	<div class='grey-text bold' style='text-align:center;font-family: "Open Sans", sans-serif;'>
		External Content
	<div>
	<br/>
	<div style='height:800px;'>
		<div style='float:left;width:5%;'>&nbsp;</div>
		<iframe style='height:90%;width:90%;float:left;' name='iframe'>
		</iframe>
		<div style='clear:both;'></div>
		<div style='height:5%;'>&nbsp;</div>
	</div>
</div>