<div
	id='AboutFragment'
	ng-show='view == Views.ABOUT'
	style='width:100%;'
	>

	<div style='width:100%; position: relative;'>

		<!-- section background image -->
		<div style='
		    z-index:1;
		    top:0;
		    left:0;
		    width:100%;'>

	    	<img style='
				width:100%;
				display:block;'

				ng-src="/static/image/header-category.jpg"/>
		</div>

		<!-- text overlay -->
    	<div
    		class='category-header-image-overlay-text light-grey unselectable'
    		style='z-index:2;'> <!-- margin-left:100px; -->

    			<div style='padding-left:100px;display:table;height:100%;'>
	    			<div style='vertical-align: middle;display: table-cell;height:100%;'>
		    			<span style='font-size:2em;'>
			    			<span style='text-transform:capitalize;'>
			    				About Us
		    				</span>
		    			</span>
		    			<br/>
		    			<span>
		    				The Company	
		    			</span>
		    		</div>
	    		</div>
    	</div>
	</div>

	<div style='clear:both;'></div>

	<br/>

	<div style='margin-left:100px;margin-right:100px;' class='drop-shadow'>
		<div style='display:table;width:100%;'>
			<div style='display:table-cell;width:200px;height:200px;' 
				class='vomit-green-background'>
			</div>
			<div 
				class='light-grey-background'
				style='display:table-cell;vertical-align:middle;padding-left:50px;padding-right:25px;'>
				<div style='font-size:2.5em;'>
					<span class='vomit-green'>Why we</span>
					<span class='grey-text'>started ?</span>
				</div>
				<br/>
				<div>
					Fisher Roeland Properties was founded in 2013 as a joint venture between Jennifer Rose and Lisa  Roeland after identifying a need in the market to fuse a passion for property development with a passion for people.
				</div>
			</div>
		</div>
	</div>

	<br/>

	<div style='margin-left:100px;margin-right:100px;'>
		<div style='display:table;width:100%;' 
			class=''
			>
			<div style='display:table-cell;width:700px;'>
				<div style='font-size:2.5em;'>
					<span class='vomit-green'>Base of</span>
					<span class='grey-text'>operations</span>
				</div>
				<br/>
				<div style='width:600px;'>
					Based in Linbro Park, Sandton and operating throughout most of South Africa’s major cities, Fisher Roeland Properties’ innovative approach and dedication to service excellence almost instantly established the company as experts and the preferred partner for developments in highly sought-after locations.
				</div>
				<br/>
				<div style=''>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229331.7660632669!2d28.133431314144847!3d-26.088835165626904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e956d4a75e3050d%3A0x5b2ef8fc2c61693c!2s32+Beacon+Ave%2C+Sandton%2C+2090!5e0!3m2!1sen!2sza!4v1443093168856" width="650" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div style='
				display:table-cell;
				width:auto;
				height:200px;
				text-align:center;
				'>

				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

				<span>Fisher Roeland Properties is your</span>
				<br/>
				<span class='text200'>premier partner</span>
				<br/>
				<span>in property development</span>
			</div>
		</div>
	</div>

	<br/>

</div>