<div
	id='AboutFragment'
	ng-show='view == Views.ABOUT'
	style='width:100%;'
	>
	<div style='width:100%; position: relative;'>

		<!-- section background image -->
		<div style='
		    z-index:1;
		    top:0;
		    left:0;
		    width:100%;'>

	    	<img style='
				width:100%;
				display:block;'

				ng-src="/static/image/header-category.jpg"/>
		</div>

		<!-- text overlay -->
    	<div
    		class='category-header-image-overlay-text light-grey unselectable'
    		style='z-index:2;'> <!-- margin-left:100px; -->

    			<div style='padding-left:100px;display:table;height:100%;'>
	    			<div style='vertical-align: middle;display: table-cell;height:100%;'>
		    			<span style='font-size:2em;'>
			    			<span style='text-transform:capitalize;'>
			    				About Us
		    				</span>
		    			</span>
		    			<br/>
		    			<span>
		    				The Company	
		    			</span>
		    		</div>
	    		</div>
    	</div>
	</div>

	<div style='
		width:100%;
		position:relative;
		'
		>
		<div 
			class='light-grey-background drop-shadow'
			style='
			margin-top:50px;margin-bottom:50px;
			margin-left:100px;margin-right:100px;
			'>			
			<div style='
				position:relative;float:left;
				width:20%;
				height:200px;
				background-color:green;'>
				&nbsp;
			</div>
			<div style='
				position:relative;float:left;
				width:80%;
				'
				>
				<div style='margin-left:25px;margin-top:25px;'>
					<div style='font-size:2.5em;'>
						<span class='vomit-green'>Why we</span>
						<span class='grey-text'>started ?</span>
					</div>
					<br/>
					<div style='margin-right:25px;'>
						Fisher Roeland Properties was founded in 2013 as a joint venture between Jennifer Rose and Lisa  Roeland after identifying a need in the market to fuse a passion for property development with a passion for people.
					</div>
					<br/>
				</div>
			<div>
		</div>
	</div>

	<div style='clear:both;'>
	</div>
</div>