<div
	id='CategoryFragment'
	ng-show='view == Views.CATEGORY'
	>
	<div style='width:100%; position: relative;'>

		<div style='
		    z-index:1;
		    top:0;
		    left:0;
		    width:100%;'>

	    	<img style='
				width:100%;
				display:block;'

				ng-src="/static/image/header-category.jpg"/>
		</div>

    	<div
    		class='category-header-image-overlay-text light-grey unselectable'
    		style='z-index:2;margin-left:100px;'>

    			<div style='display:table;height:100%;width:100%;'>
	    			<div style='vertical-align: middle;display: table-cell;height:100%;width:100%;'>
		    			<span style='font-size:2em;'>
			    			<span style='text-transform:capitalize;'>
			    				{{ selectedCategory }}
		    				</span>
		    				properties
		    			</span>
		    			<br/>
						<span ng-if='model.propertiesForCategory(selectedCategory).length == 0'>
		    				none
		    			</span>
						<span ng-if='model.propertiesForCategory(selectedCategory).length == 1'>
		    				1 property
		    			</span>
		    			<span ng-if='model.propertiesForCategory(selectedCategory).length > 1'>
		    				{{ model.propertiesForCategory(selectedCategory).length }} properties
		    			</span>
		    		</div>
	    		</div>
    	</div>
	</div>
</div>