<div>
	<div style="width:100%;" class='dark-grey-background'>

		<div class='contact' style='padding-left:100px;'>
			<span>
		  		<img
					ng-src="/static/image/icon-fb.png"
					alt="facebook" />
			</span>
		  	<span class='grey-text bold'>
		  		Phone:&nbsp;
		  	</span>
			<span class='grey-text'>
		  		{{ model.contacts[0].phone }}
		  	</span>

		  	<span>
		  		&nbsp;&nbsp;&nbsp;
		  	</span>

		  	<span class='grey-text bold'>
		  		Email:&nbsp
		  	</span>
		  	<span class='grey-text'>
		  		{{ model.contacts[0].email }}
		  	</span>
		</div>

	</div>
</div>