<div id='ContactBar'>
	<div style="width:100%;">
		<div class='contact unselectable contact-bar-background bold' 
			style='width:100%;color:#a3a3a3'>

			<span style='width:100px;'></span>

			<!-- ICONS -->
			<span style='float:left;margin-right:10px;'>
				<a href='' style='margin-top:5px;margin-bottom:5px;' ng-click="openFacebook();">
			  		<img
			  			class=''		  								
						ng-src="/static/image/icon-fb.png"
						/>
				</a>
			</span>

			<span style='float:left'>
		  		<a href='' ng-click='openTwitter();'>
			  		<img
			  			class=''
			  			style='margin-top:5px;margin-bottom:5px;margin-right:10px'
						ng-src="/static/image/icon-twitter.png"						
						/>
				</a>
			</span>
			
			<span style='float:left'>
				<a href='' ng-click="openLinkedIn();">
			  		<img
			  			class=''
			  			style='margin-top:5px;margin-bottom:5px;'
						ng-src="/static/image/icon-linkedin.png"					
						/>
				</a>
			</span>

			<!-- BEGIN REVERSE ORDER ////////////////////////////////////// -->

		  	<span style='float:right;margin-right:100px;'>
		  		<a href='' 
		  			style='color:#a3a3a3;'
		  			ng-click='emailPrimaryContact();'>{{ model.getPrimaryContact().email }}</a>
		  	</span>

		  	<span style='float:right' class='bold'>
		  		Email:&nbsp;
		  	</span>

		  	<span style='float:right'>
		  		&nbsp;
		  	</span>

			<span style='float:right'>
		  		<img
		  			style='margin-top:5px;margin-bottom:5px;'
					ng-src="/static/image/icon-mail.png"
					/>
			</span>

		  	<span style='float:right'>
		  		&nbsp;&nbsp;&nbsp;
		  	</span>

			<span style='float:right'>
		  		{{ model.getPrimaryContact().phone }}
		  	</span>

		  	<span style='float:right' class='bold'>
		  		Phone:&nbsp;
		  	</span>

		  	<span style='float:right'>
		  		&nbsp;
		  	</span>

			<span style='float:right'>
		  		<img
		  			style='margin-top:5px;margin-bottom:5px;'
					ng-src="/static/image/icon-phone.png"
					/>
			</span>

		  	<!-- END REVERSE ORDER //////////////////////////////////////// -->
		</div>
	</div>
</div>