<div
	id='Contact'
	ng-show='showView(Views.CONTACT)'
	style='width:100%;'
	>
	<!-- BLURB -->
	<div class='unselectable' style='margin-bottom:50px;'>
		<div
			class='frp-font'
			style='font-size:2.5em;padding-top:50px;text-align:center;'>
			<span class='vomit-green'>FISHER ROELAND</span>
			<span class='grey-text'>PROPERTIES</span>
		</div>

		<div style='
			text-align:center;
			margin-left:100px;
			margin-right:100px;
			' class='grey-text'>

			<br/>

			<div>
				<span style='font-size:1.5em;'>
					Office Address
				</span>
				<br/>
				32 Beacon Avenue, Linbro Park, 2065
			</div>

			<br/>

			<div>
				<span style='font-size:1.5em;'>
					Phone Number
				</span>
				<br/>
				081 367 0767
			</div>

			<br/>

			<div>
				<span style='font-size:1.5em;'>
					Email Address
				</span>
				<br/>
					enquiries@frp.com
			</div>

			<br/>

			<div>
				<span style='font-size:1.5em;'>
					Office Hours
				</span>
				<br/>
				Monday - Friday
				<br/>
				09:00 - 17:00
			</div>
		</div>
	</div>
</div>