<div id='navbar' class='navbar' >
	<div class='navbar-inner'>
		<div style='float:left;'>
			<span style='color:yellow;'>Fisher Roeland</span>
			
			&nbsp;

			<a href='#' 
				ng-click="gotoView(Views.HOME);"
				ng-class="view == Views.HOME ? 'nav-active' : 'nav-inactive'"
				>home</a>
			
			<a href='#' 
				class='underline'
				ng-click="gotoView(Views.CATEGORY);"
				ng-class="view == Views.CATEGORY ? 'nav-active' : 'nav-inactive'"
				>by category</a>
			
			<a href='#' 
				ng-click="gotoView(Views.PROPERTIES);"
				ng-class="view == Views.PROPERTIES ? 'nav-active' : 'nav-inactive'"
				class='underline'
				>all properties</a>	

		</div>

		<div style='float:right;'>
			<a href='#' 
				ng-click="gotoView(Views.CONTACT);"
				ng-class="view == Views.CONTACT ? 'nav-active' : 'nav-inactive'"
				class="underline"
				>contact us</a>
		</div>
		
		<div style='clear:both;'>
		</div>
	</div>
</div>