<div id='NavBar'>
	<div style="width:100%;" class='light-grey-background'>

		<div class='nav unselectable' style='padding-left:100px;'>
			<span>
		  		<img
					ng-src="/static/image/logo.png"
					alt="Fisher Roeland Properties" />
			</span>
		  	<span style='padding-left:50px;'>

				<a href='#' ng-click="gotoHomeView();"
					ng-class="(view == Views.HOME) ? 'nav-active' : 'nav-inactive'"
					>
					Home
				</a>

				<a ng-repeat='category in model.categories'
					href='#' ng-click="gotoCategoryView(category);"
					style='text-transform:capitalize;'
					ng-class="((view == Views.CATEGORY) && (selectedCategory == category)) ? 'nav-active' : 'nav-inactive'"
					>
					{{ category }}
				</a>

				<a href='#' 
					ng-click="gotoSoldView();"
				ng-class="(view == Views.SOLD) ? 'nav-active' : 'nav-inactive'"
					>Sold</a>
		  	</span>
		</div>

	</div>
</div>