<div
	id='PropertyFragment'
	ng-show='showView(Views.PROPERTY)'
	style='vertical-align:middle;float:middle;'
	>

	<br/>

	<div>
		<a href="#" ng-click='model.selectPreviousPropertyInCategory()'>
			&#8592;
			<!-- <img ng-src="/static/img/icon/button_black_prev.cut.20.png"/> -->
		</a>	
		&nbsp;
		<span class='FRP-grey'>
			{{ model.selectedProperty.category }}
		</span>
		&nbsp;
		<a href="#" ng-click='model.selectNextPropertyInCategory()'>
			<!-- <img ng-src="/static/img/icon/button_black_next.cut.20.png"/> -->
			&#8594;
		</a>
	</div>
	<div class='header'>
		{{ model.selectedProperty.name }}
	</div>
	<div class='FRP-green'>
		{{ model.selectedProperty.title }}
	</div>

	<div>

		<br/>

		<div class='float-left margin-left-20 margin-right-20'>
			<img
				ng-src="{{ model.udfSrcForSelectedProperty() }}"
				alt="UDF"
				width='400px'
				height='400px'
				 />
		</div>

		<div class='margin-right-20' style='text-align:left;'>
			<div>
				<div>
				 	Situation and Description
				</div>
				<div class='list fixed-height-150'>
					<ul>
						<li ng-repeat="para in model.selectedProperty.situationDescription">
							{{ para }}
						</li>
					<ul>
				</div>
			</div>
			<br/>
			<div>
				<div>
					Stands ({{ model.selectedProperty.stands.length }})
				</div>
				<div class='list fixed-height-150'>
					<ul>
						<li ng-repeat="stand in model.selectedProperty.stands">
							{{ model.summaryForStand(stand) }}
						</li>
					<ul>
				</ul>
			</div>
		</div>

	</div>

<!-- 	<div style='text-align:left;' class='margin-left-20'>
		dog
	</div>
 -->
	<br/>
</div>