<div
	id='PropertyFragment'
	ng-show='view == Views.PROPERTY'
	style='width:100%;padding-bottom:15px;'
	>
	<div style='width:100%; position: relative;'>

		<!-- section background image -->
		<div style='
		    z-index:1;
		    top:0;
		    left:0;
		    width:100%;'>

	    	<img style='
				width:100%;
				display:block;'

				ng-src="/static/image/header-category.jpg"/>
		</div>

		<!-- text overlay -->
    	<div
    		class='category-header-image-overlay-text light-grey unselectable'
    		style='z-index:2;'> <!-- margin-left:100px; -->

    			<div style='padding-left:100px;display:table;height:100%;'>
	    			<div style='vertical-align: middle;display: table-cell;height:100%;'>
		    			<span style='font-size:2em;'>
			    			<span style='text-transform:capitalize;'>
			    				{{ model.selectedProperty.name }}, {{ model.selectedProperty.shortLocation }}
		    				</span>
		    			</span>
		    			<br/>
		    			<a
		    				style='color:white !important;'
		    				ng-click='model.selectPreviousPropertyInCategory();' class='bold'>
		    				&laquo;
		    			</a>
		    			<span>
		    				{{ model.propertiesForCategory(model.selectedCategory).indexOf(model.selectedProperty) + 1 }} 
		    				of 
		    				{{ model.propertiesForCategory(model.selectedCategory).length }} 
		    				{{ model.selectedProperty.category }}
		    				properties	
		    			</span>
		    			<a 
			    			style='color:white !important;'
			    			ng-click='model.selectNextPropertyInCategory();' class='bold'>
		    				&raquo;
		    			</a>
		    		</div>
	    		</div>
    	</div>
	</div>

	<div style='width:100%;position:relative;'>
		<div style='margin-left:83px;margin-top:15px;float:left;'>
			<div style='display: table;'>
				<div>
					<img 
						ng-click='model.selectPreviousPropertyImage();'
						style='display: table-cell;vertical-align:middle;margin-right:10px;'
						ng-src="/static/image/arrow-left.png"
						ng-class='(model.selectedProperty.images.length > 1) ? "" : "invisible"'/>
					<img 
						style='
							display: table-cell;vertical-align:middle;
							width:606px;height:380px;'
						ng-src="{{ model.dataImageUrl(model.getSelectedPropertyImage()) }}"
						title="{{ model.selectedProperty.name }}"
						alt="{{ model.selectedProperty.name }}"
						ng-click=''
					/>
					<img 
						ng-click='model.selectNextPropertyImage();'
						style='display: table-cell;vertical-align:middle;margin-left:10px;'
						ng-src="/static/image/arrow-right.png"
						ng-class='(model.selectedProperty.images.length > 1) ? "" : "invisible"'/>
				</div>
			</div>
    	</div>
    	<div
    		class='grey-text drop-shadow justify unselectable'
    		style='float:left;
    			margin-top:17px;margin-left:25px;
    			width:35%;
    			padding-left:15px;padding-top:15px;padding-bottom:15px;padding-right:15px;
    			'>
    		<div>
	    		<span style='font-size:1.5em;'>Location</span>
	    		<br/>
	    		<div style='margin-left:2px;'>{{ model.selectedProperty.shortLocation }}</div>
	    		<div style='margin-left:2px;'>{{ model.selectedProperty.longLocation }}</div>
	    		<div style='margin-top:5px;'>
		    		<a href='http://maps.google.com/maps?z=12&t=k&q=loc:-26.08715+28.02632' target='_blank'>
						<div class='green-button'>GOOGLE MAPS</div>
					</a>
				</div>
			</a>
    		</div>
			<div ng-if='model.propertyHasArea(model.selectedProperty);'>
	    		<br/>
				<span style='font-size:1.5em;'>Size</span>
				<br/>
				<span>
					{{ model.propertyAreaHaText(model.selectedProperty) }}&nbsp;
				</span>
				<span>
					&nbsp;({{ model.propertyAreaSqmText(model.selectedProperty) }})
				</span>
			</div>
			<div ng-if='model.selectedProperty.subproperties.length > 0'>
				<br/>
				<span style='font-size:1.5em;'>Items</span>
				<br/>
				<div ng-repeat='sub in model.selectedProperty.subproperties'>
			    &middot;&nbsp;{{ sub.name }}
				</div>
			</div>
			<br/>
			<div class='grey-text'>
				<div style='font-size:1.5em;'>Contact</div>		

				<div>
		  			<span class='bold'>Email:&nbsp;</span>
					<span>{{ model.contactsForCategory(model.selectedProperty.category)[0].email }}</span>
				</div>
				<div>
		  			<span class='bold'>Phone:&nbsp;</span>
					<span>{{ model.contactsForCategory(model.selectedProperty.category)[0].phone }}</span>
				</div>

				<div style='margin-top:5px;'>
					<a href='#' ng-click="enquireAfterPriceOfSelectedProperty();">
						<div class='green-button'>FOR SALES / PRICING CLICK HERE</div>
					</a>
				</div>
			</div>
    	</div>

    	<div style='clear:both;'>
		</div>
	</div>

	<div
		ng-if='(model.selectedProperty.description.length > 0) && (model.selectedProperty.description[0] !=="")'
		class='unselectable'
		style='float:left;'>

		<div style='font-size:2.5em;margin-left:100px;margin-top:15px;'>
			<span style='color:#a0bf14;'>Situation & Description</span>
		</div>
		<div class='justify grey-text'
			style='width:70%;margin-left:100px;margin-bottom:25px;margin-top:10px;'>
			<span ng-repeat='line in model.selectedProperty.description'>
				{{ line }}
				<br/>
			</span>
		</div>
	</div>

	<div style='clear:both;'>
	</div>

	<div ng-if="model.selectedProperty.subproperties.length > 0"
		class='grey-text justify'
		style='margin-left:100px;width:60%;'
		>
		<div 
			ng-repeat='sub in model.selectedProperty.subproperties'
			style='margin-bottom:30px;padding-left:15px;padding-top:15px;padding-right:15px;padding-bottom:15px;'
			class='drop-shadow'>
			
			<div
				style='font-size:1.5em;'
				class='green'>
				{{ sub.name }}
			</div>

			<div ng-if='model.propertyHasArea(sub);'>
				<span>
					{{ model.propertyAreaHaText(sub) }}&nbsp;
				</span>
				<span>
					&nbsp;({{ model.propertyAreaSqmText(sub) }})
				</span>
			</div>

			<div ng-if='sub.images.length > 0'>
				<img 
					style='width:606px;height:380px;margin-top:15px;'
					ng-src="{{ model.dataImageUrl(sub.images[0]) }}"
					title="{{ sub.name }}"
					alt="{{ sub.name }}"
					ng-click=''
					/>
			</div>

			<div ng-if='((sub.description.length > 0) && (sub.description[0].length !== 0))'>
				<br/>
				<div ng-repeat='line in sub.description'>
					{{ line }}
				</div>
			<div>			
		</div>
	</div>


</div>