<div
	id='ResidentialFragment'
	ng-show='showView(Views.RESIDENTIAL)'
	style='vertical-align:middle;float:middle;'
	>

	<br/>

	<div class='header'>
		residential properties
	</div>

	<br/>
	
	( {{ model.propertiesForCategory("residential").length }} )

	<br/>
	<br/>

	<div class='list fixed-height-300 margin-left-20' style='width:95%;text-align:center;'>
		<div ng-repeat='p in model.properties | filter: model.categoryMatch("residential")'>
			<a
				style='color:green'
				class='underline'
				title={{p['title']}}
				href="#"
				ng-click="viewProperty(p)">
			{{ p.name }} - {{ p.stands.length }} stands
			</a>
		</div>
	</div>
</div>