<div
	id='SocialFragment'
	ng-show='view == Views.SOCIAL'
	style='vertical-align:middle;float:middle;'
	>

	<br/>

	<div class='header'>
		social media
	</div>

	<br/>

	<div>
		<div style='float:left;margin-left:20px;width:520px;min-width:520px;'>
			<img
				ng-src="/static/img/twitter.64x64.png"
				alt="twitter" />
	    	<br/>
	    	<br/>
	    	<a
				class="twitter-timeline"
				href="https://twitter.com/property24"
				data-widget-id="621299416310415360"
				style='width:520px;'
				>@FisherRoleanProperty</a>
		</div>
		<div  style='float:right'>
		</div>
		<div style='clear:both'></div>
	</div>
</div>