<div
	id='SocialFragment'
	ng-show='showView(Views.SOCIAL)'
	style='vertical-align:middle;float:middle;'
	ng-controller='SocialController'
	>

	<br/>

	<div class='header'>
		social media
	</div>

	<br/>

	<div>
		<div style='float:left;margin-left:20px;width:520px;min-width:520px;'>
			<img
				ng-src="/static/img/twitter.64x64.png"
				alt="twitter" />
	    	<br/>
	    	<br/>
	    	<a
				class="twitter-timeline"
				href="https://twitter.com/wsj"
				data-widget-id="621299416310415360"
				style='width:520px;'
				>@FisherRoleanProperty</a>
		</div>
		<div style='float:left;width:520px;min-width:520px;'>
			<br/>
			<br/>
			<br/>
			<br/>
			<a href="https://www.linkedin.com/pub/lisa-roeland/30/342/ba5"
				target='_blank'>
			<img
				ng-src="/static/img/linkedin.233x64.png"
				alt="linkedin" />
			</a>
			<br/>
			<br/>
			<a href="https://www.facebook.com/wsj"
				target='_blank'>
			<img
				ng-src="/static/img/facebook.213x64.png"
				alt="linkedin" />
			</a>	    
	    
		</div>
		<div style='clear:both'></div>
	</div>
</div>