<div
	id='TailBar'
	class='light-grey dark-grey-background tailbar-container'
	style='width:100%;height:100%;'>

	<div class="first tailbar-column">
		<div style='width:100%;'>
	   		<div class='grey-text frp-font'
	   			style='width:45%;font-size:1.5em;line-height:110%;'>
	   			<span style='font-size:1.6em;'>F</span>ISHER
	   			<br/>
	   			<span style='font-size:1.6em;'>R</span>OELAND
	   			<br/>
	   			<span style='font-size:1.6em;'>P</span>ROPERTIES
	   		</div>
	   		<!-- TODO = REFACTOR TO COMMON FRAGMENT WITH ContactBar -->
	   		<div style='width:45%;'>
		  		<img
		  			style='margin-right:5px;	'
					ng-src="/static/image/icon-fb.png"
					ng-click="openFacebook();"
					/>
		  		<img
		  			style='margin-right:5px'
					ng-src="/static/image/icon-twitter.png"
					ng-click="openTwitter();"
					/>
		  		<img		  			
					ng-src="/static/image/icon-linkedin.png"
					ng-click="openLinkedIn();"
					/>
	   		</div>
   		</div>
   		<div>
   			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   		</div>
	</div>

   	<div class="second tailbar-column">
   		<div class='white' style='font-size:1.5em;'>
   			Categories
		</div>
		<div ng-repeat='categoryView in model.categoryViews' class='uppercase'>
			<a href="#" ng-click='gotoView(categoryView.view)'>
				{{ categoryView.category }}
				<span ng-show='model.propertiesForCategory(categoryView.category).length > 0'>
					&nbsp;({{ model.propertiesForCategory(categoryView.category).length }})
				</span>
			</a>
		</div>
	</div>
    
    <div class="third tailbar-column">
		<div style='width:300px;min-width:300px;'>
	    	<a
				class="twitter-timeline"
				href="https://twitter.com/wsj"
				data-widget-id="621299416310415360"
				style='width:300px;'
				>@FisherRoleandProperty</a>
		</div>
	
	</div>
</div>